.search1 {
    position: absolute;
    left: 0px;
    top: 358px;
    background: #E9EEFB;
    border-radius: 20px 20px 0 0;
    z-index: 2;
    height: 64px;
    width: 342px;
    margin: 24px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.search2 {
    position: absolute;
    left: 0px;
    top: 421px;
    background: white;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    height: 64px;
    width: 342px;
    margin: 24px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.search1 p {
    margin: 22px 0 0 0;
}

.searchIcon{
    margin: 0 24px;
}


.searchIcon2{
        margin: 8px 24px;
}

.search1P{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    padding-left: 33px;
    text-align: left;
    color: #19274C;
    margin: 22px 0 0 0;
}


.search2P{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    padding-left: 33px;
    text-align: left;
    color: #19274C;
    margin: 22px 0 0 0;
}