.search1 {
    position: absolute;
    left: 0px;
    top: 358px;
    background: #E9EEFB;
    border-radius: 20px 20px 0 0;
    z-index: 2;
    height: 64px;
    width: 342px;
    margin: 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    padding-left: 33px;
    text-align: left;
    color: #19274C;
}

.search2 {
    position: absolute;
    left: 0px;
    top: 422px;
    background: white;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    height: 64px;
    width: 342px;
    margin: 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-left: 33px;
    text-align: left;
    letter-spacing: 0.01em;

    color: #19274C;
}