.signinContainer {
    background-color: #F0F0F0;
    margin-bottom: 0;
    color:#19274C;
}

.signinContainer button {
width: 342px;
height: 48px;
border: none;
background: #E04848;
border-radius: 20px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-top: 16px;
margin-bottom: 72px;
/* identical to box height */

text-align: center;

color: #FAFAFA;
}

.signinContainer h4 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
padding: 60px 45px 30px;
}
.signinContainer form {
    text-align: center;
}
.signinContainer input {
width: 322px;
height: 48px;
background: #FBFBFB;
border: 1.5px solid #DBDBDB;
border-radius: 10px;
font-family: 'Montserrat';
font-size: 16px;
font-weight: bold;
padding-left: 20px;
}
.loginContainer .sigText {
    margin-top: 52px;
}