.signinContainer {
    background-color: #F0F0F0;
    margin-bottom: 0;
    color: #19274C;
    width: 390px;
}

.sigContainer {
    margin-bottom: 0;
    color: #19274C;
}

.signinContainer form,
.sigContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sigContainer label {
    display: flex;
    align-self: flex-start;
    font-weight: 500;
    font-size: 14px;
    margin-left: 13%;
    margin-bottom: 12px;
}

.signinContainer button,
.sigContainer button {
    width: 342px;
    height: 48px;
    border: none;
    background: #E04848;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 72px;
    text-align: center;
    color: #FAFAFA;
}

.sigContainer button {
    width: 286px;
}

.signinContainer h4,
.sigContainer h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 56px 45px;
    margin: 0;
}

.sigContainer h4 {
    font-weight: 500;
    font-size: 16px;
}

.sigContainer .cross {

    width: 100px;
    margin: 96px auto 0;
    display: block;

}

.signinContainer input {
    width: 312px;
    height: 48px;
    background: #FBFBFB;
    border: 1.5px solid #DBDBDB;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
    padding-left: 20px;
}

.sigContainer input[type="email"] {
    border: 1px solid #8C8C8C;
    border-radius: 5px;
    box-sizing: border-box;
    width: 286px;
    padding: 11px;
    margin-bottom: 30px;
    font-family: "Montserrat";
    font-size: 14px;
}

.login-block .alertContainer {
    position: absolute;
    bottom: 35.2%;
    left: 21%;
    color: currentcolor;
    font-size: 14px;
    font-weight: 500;
}