
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

h1{}
h2{}
div {
    margin: 0;
}

//Provisional
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #132A68;
}


