.profileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 390px;
    height: 56px;
}

.profileNavBar h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19274C;
    margin-top: 18px;
}

.profileNavBar p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 18px;
    height: 11,67px;
    color: #19274C;
    margin: 20px 18px;
}

.profileNavBar img {
    width: 28px;
    height: 17px;
    margin: 18px 18px;
}

//


.profileNavBar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #001346;
    width: 390px;
    height: 56px;
}

.profileNavBar2 h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin-top: 18px;
}

.profileNavBar2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 18px;
    height: 11,67px;
    color: #19274C;
    margin: 20px 18px;
}

.profileNavBar2 img {
    width: 28px;
    height: 17px;
    margin: 18px 18px;
}

//


.profileNavBar3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 390px;
    height: 56px;
}

.profileNavBar3 h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19274C;
    margin-top: 18px;
}

.profileNavBar3 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 18px;
    height: 11,67px;
    color: #19274C;
    margin: 20px 18px;
}

.profileNavBar3 img {
    width: 28px;
    height: 17px;
    margin: 18px 18px;
}