.slideContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: start;
    background: #F0F0F0;
    padding: 0 2%;
    margin: 0 auto;
    width: 390px;
}

.splide01-slide02,
.splide01-slide02,
.splide01-slide03 {
    width: inherit;
}