@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
body {
  background-color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.container {
  padding: 0 8%;
}

.container h3,
 label{
  margin-left: 2%;
}
h2,h3,h4 { 
    text-align: center;
}

h4 {
  font-weight: 300;
}

.register-container,
.expiration,
.close-container {
  padding: 0 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.myfood-container {
  padding: 0 2%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.empty {
  /* border: 2px dashed rgba(68, 66, 66, 0.469); */
  border-radius: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 3rem 0;
}

.down {
  animation: bounce 2s ease 0s 1 normal forwards;
  margin: 2rem 0 0;
}

.expiration {
  justify-content: space-between;
}

.card {
  background: #fff;
  padding: 15px;
  width: 150px;
  height: auto;
  margin: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border-width: 0;
}

form {
  width: 22rem;
  margin: 1rem auto 0;
}

.form-header,
.register-header,
.close {
  margin: 1rem auto 0;
  width: 24rem;
}

.login-header, .register-header {
  margin-top: 10%;
}

.login-block h1,
.login-block h2 {
  text-align: center;
  margin: 0;
}

.form-container .count {
  padding: 0.25rem 0;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 4px;
}

.form-container div,
.form-container select {
  margin-top: 5px;
  margin-bottom: 1.5rem;
  width: inherit;
}

.form-container input[type=submit],
.form-container input[type=date],
.form-container input[type=number],
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=email],
.form-container select,
.form-container textarea {
  padding: 0 0.5rem;
  width: inherit;
  height: 3rem;
  border-radius: 25px;
  border: 1px solid #F52F3D;
  box-sizing: border-box;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  margin-top: 10px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.form-container textarea {
  height: 5rem;
}

.form-container input[type=submit] {
  height: 3rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  background: #F52F3D;
  cursor: pointer;
}

.form-container p {
  margin-top: 0.5rem;
  color: #ff9900;
}

.form-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

button,
.img-right {
  cursor: pointer;
}

.radio {
  width: 50%;
  display: inline-flex;
  float: right;
}

.thumb {
  background: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border-width: 0;
}

.name-block {
  padding: 0 3%;
}

.fresco,
.brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.exdate {
  font-size: 30px;
}

.logo-center {
  display: block;
  margin: auto;
}

.img-right {
  float: right;
  margin-right: 11px;
}

.error-message {
  color: red;
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Media queries */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    padding: 0 5%;
  }
  .register-header {
    margin-top: 35%;
  }
  .empty {
    padding: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
